

#canvas{
    border:2px solid black;

}

#toolbar{
display: flex;
width: 100%;
height: 60px;
}

.toolbar-colors-container{
    border:1px solid black;
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.toolbar-drawWidth-container{
    display: flex;
    border:1px solid black;
    padding: 1px;
}

.toolbar-colors{
    display: flex;

}

.width-button{
    margin: 1px;
    padding: 2px;

}



.colorButton{
    height: 20px;
    width: 20px;
    border:0.5px solid gray;
    margin: 1px;
    cursor: pointer;
}
/**/


.bg-black{
    background-color: black;
 }
 .bg-white{
    background-color: white
 }

 .bg-gray-100{
     background-color: rgb(35, 35, 35);
  }
  .bg-gray-200{
    background-color: rgb(72, 72, 72);
 }
 .bg-gray-300{
    background-color: rgb(111, 111, 111);
 }
 .bg-gray-400{
    background-color: rgb(144, 144, 144);
 }
 .bg-gray-500{
    background-color: rgb(188, 188, 188);
 }
 .bg-gray-600{
    background-color: rgb(211, 211, 211);
 }

 

.bg-red{
   background-color: red;
}
.bg-orange{
    background-color: orange;
 }
 .bg-yellow{
    background-color: yellow;
 }
 .bg-yellowgreen{
    background-color: yellowgreen;
 }
 .bg-green{
    background-color: green;
 }
 .bg-teal{
    background-color: teal;
 }
 .bg-blue{
    background-color: blue;
 }
 .bg-violet{
    background-color: violet;
 }
 .bg-purple{
    background-color: purple;
 }





